h1{
    font-size: 70px;
    font-weight: 100;
    color: black;
    opacity: 2.0;
    text-align: center;
    padding-top: 2.5em;
}
header {
    padding-bottom: 30em;
}

p{
    font-size: 20px;
    padding-right: 1em;

}
b{
    color: #330033;
}
.prof {
    float: left;
    padding: .5em;
}

body {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: black;
    background-image: url(../images/blue.jpg);
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sep {
    list-style-type: none;
   text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
        font-size: 20px; 
        margin-left: 380px;
}
.options {
    display: inline;
    float: left;
    margin-right: 50px;
}
.options:link, .options:visited {
    display: inline;
    width: 120px;
    font-weight: bold;
    color: black;    
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.options:hover, .options:active {
    background-color: #bb99ff;
}
.dif{
    font-size: 20px;
}

h2 {
    font-size: 35px;
    font-weight: 100;
}
h3{
    font-size: 20px;
}
#about {
    background-color: #eee5ff;
    opacity: 1.5;
    margin: 100px;
    padding: 3em;
}
#projects {
    background-color: #ddccff;
    opacity: 1.5;
    margin: 100px;
    padding: 3em;
}
#contact {
    background-color: #ccb3ff;
    opacity: 1.5;
    margin: 100px;
    padding: 3em;
}